{% extends "base.html" %}
{% block title %}캐릭터 정보{% endblock %}
{% block content %}
    <style>
        html{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        div{
            -webkit-border-radius: 50px;
            border-radius: 50px;
            background: #D1D8EC;
            -webkit-box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
            box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
            padding: 30px;
            text-align: center;
        }
        button{
            margin-top: 10px;
        }
        table{
            background-color: #f0f8ff;
        }
    </style>

    <div>
        <table border="1">
            <thead>
            <tr>
                <th>날짜</th>
                <th>캐릭터 이름</th>
                <th>월드</th>
                <th>성별</th>
                <th>클래스</th>
                <th>전직</th>
                <th>레벨</th>
                <th>경험치</th>
                <th>경험치 비율</th>
                <th>길드 이름</th>
                <th>캐릭터 이미지</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            {% for character in characters %}
                <tr>
                    <td>{{ character.date }}</td>
                    <td><a href="{{ url_for('maple.stat', character_id=character.id) }}">{{ character.character_name }}</a></td>

                    <td>{{ character.world_name }}</td>
                    <td>{{ character.character_gender }}</td>
                    <td>{{ character.character_class }}</td>
                    <td>{{ character.character_class_level }}차</td>
                    <td>LV. {{ character.character_level }}</td>
                    <td>{{ character.character_exp }}</td>
                    <td>{{ character.character_exp_rate }} exp</td>
                    <td>{{ character.character_guild_name }}</td>
                    <td><a href="{{ url_for('maple.stat', character_id=character.id) }}"><img src="{{ character.character_image }}" alt="{{ character.character_name }}의 이미지" /></a></td>

                    <td>
                        <form action="{{ url_for('maple.delete_character', character_id=character.id) }}" method="POST">
                            <input type="hidden" name="character_id" value="{{ character.id }}">
                            <button type="submit">삭제</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <button onclick="location.href='/maple/'">처음으로</button>
    </div>
{% endblock %}
