{% extends "base.html" %}
{% block title %}캐릭터 스탯{% endblock %}
{% block content %}
    <link href="{{ url_for('static', filename='stat_style.css') }}" rel="stylesheet">
<p style="text-align: center">
<img id="char_img" src="{{ character.character_image }}" alt="캐릭터 이미지">
</p>
<h1>
    {{ character.character_name }} 님의 정보
</h1>
<div class="stat-tables">
    <div class="stat">
        <table class="stat-table" border="1">
            <thead>
            <tr>
                <th>스탯 이름</th>
                <th>스탯 값</th>
            </tr>
            </thead>
            <tbody>
            {% for stat in stats.final_stat[:stats.final_stat|length//2] %}
                <tr>
                    <td>{{ stat.stat_name }}</td>
                    <td>{{ stat.stat_value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    
        <table class="stat-table" border="1">
            <thead>
            <tr>
                <th>스탯 이름</th>
                <th>스탯 값</th>
            </tr>
            </thead>
            <tbody>
            {% for stat in stats.final_stat[stats.final_stat|length//2:] %}
                <tr>
                    <td>{{ stat.stat_name }}</td>
                    <td>{{ stat.stat_value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="item_div" class="item">
        <table class="item-table" border="1">
            <thead>
                <tr>
                    <th>&nbsp;이미지&nbsp;</th>
                    <th>&nbsp;종류&nbsp;</th>
                    <th>&nbsp;이름&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for item in item.item_equipment[:item.item_equipment|length//2] %}
                <tr>
                    <td>
                        <div class="tooltip">
                            <img src="{{ item.item_icon }}" alt="아이템 이미지">
                            <span class="item_tooltiptext">
                        <h2>{{ item.item_name }}({{ item.starforce }}성)</h2>
                        <h3>기본 스탯</h3>
                        <ul>
                            {% for key, value in item.item_total_option.items() %}
                                {% if value != '0' and value != 0 %}
                                    <li>{{ key.replace('_', ' ').title() }}: {{ value }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                            {% if item.potential_option_grade != None %}
                        <h3>잠재능력: {{ item.potential_option_grade}}</h3>
                        <ul>
                            <li>{{ item.potential_option_1}}</li>
                            <li>{{ item.potential_option_2}}</li>
                            <li>{{ item.potential_option_3}}</li>
                        </ul>
                            {% endif %}
                            {% if item.additional_potential_option_grade != None %}
                        <h3>에디셔널: {{ item.additional_potential_option_grade }}</h3>

                        <ul>
                            <li>{{ item.additional_potential_option_1 }}</li>
                            <li>{{ item.additional_potential_option_2 }}</li>
                            <li>{{ item.additional_potential_option_3 }}</li>
                        </ul>
                            {% endif %}
                    </span>
                        </div>
                    </td>
                    <td>&nbsp;{{ item.item_equipment_slot }}&nbsp;</td>
                    <td>&nbsp;{{ item.item_name }}&nbsp;</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </table>
        <table class="item-table" border="1">
            <thead>
            <tr>
                <th>&nbsp;이미지&nbsp;</th>
                <th>&nbsp;종류&nbsp;</th>
                <th>&nbsp;이름&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for item in item.item_equipment[item.item_equipment|length//2:] %}
                <tr>
                    <td>
                        <div class="tooltip">
                            <img src="{{ item.item_icon }}" alt="아이템 이미지">
                    <span class="item_tooltiptext">
                        <h2>{{ item.item_name }}({{ item.starforce }}성)</h2>
                        <h3>기본 스탯</h3>
                        <ul>
                            {% for key, value in item.item_total_option.items() %}
                                {% if value != '0' and value != 0 and value != 'None' %}
                                    <li>{{ key.replace('_', ' ').title() }}: {{ value }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% if item.potential_option_grade != None %}
                        <h3>잠재능력: {{ item.potential_option_grade}}</h3>
                        <ul>
                            <li>{{ item.potential_option_1}}</li>
                            <li>{{ item.potential_option_2}}</li>
                            <li>{{ item.potential_option_3}}</li>
                        </ul>
                            {% endif %}
                        {% if item.additional_potential_option_grade != None %}
                        <h3>에디셔널: {{ item.additional_potential_option_grade }}</h3>
                        <ul>
                            <li>{{ item.additional_potential_option_1 }}</li>
                            <li>{{ item.additional_potential_option_2 }}</li>
                            <li>{{ item.additional_potential_option_3 }}</li>
                        </ul>
                    {% endif %}
                    </span>
                        </div>
                    </td>
                    <td>&nbsp;{{ item.item_equipment_slot }}&nbsp;</td>
                    <td>&nbsp;{{ item.item_name }}&nbsp;</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="skill">
        <table class="skill_table" border="1">
            <thead>
                <tr>
                    <th>&nbsp;헥사&nbsp;</th>
                    <th>스킬 이름</th>
                    <th>&nbsp;레벨&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for skill in skill.character_skill %}
                <tr>
                    <td>
                        <div class="tooltip">
                            <img src="{{ skill.skill_icon }}">
                            <span class="tooltiptext">
                                <h3>{{ skill.skill_name }}</h3>
                                {% if skill.skill_effect != None %}
                                {{ skill.skill_effect }}
                                {% endif %}
                            </span>
                        </div>
                    </td>
                    <td>{{ skill.skill_name }}</td>
                    <td>{{ skill.skill_level }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    <p class="back">
        <button id="back_btn" onclick="history.back()">
            뒤로가기
        </button>
    </p>
<script>
const imgs = document.querySelectorAll('.item-table img')

for(let i = 0; i < imgs.length; i++){
    imgs[i].addEventListener("mouseover", function(e){
        let item_tooltips = document.querySelectorAll('.item_tooltiptext');
        console.log(e.y)
        if (e.y <= 600){
            item_tooltips.forEach(function(item_tooltip) {
                item_tooltip.style.bottom = '-350px';
            });
        } else{
            item_tooltips.forEach(function(item_tooltip) {
                item_tooltip.style.bottom = '100%';
            });
        }
    })
}
</script>


{% endblock %}

