{% extends "base.html" %}
{% block title %}캐릭터 정보 조회{% endblock %}
{% block content %}
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
    <div class="form">
        <form action="/maple/" method="POST">
            <label for="character_name">캐릭터 닉네임</label>
                <input type="text" id="character_name" name="character_name" placeholder="메이플스토리 닉네임을 입력해주세요.">
        </form>
        <button id="submit" type="submit">
            <img src="{{ url_for('static', filename='submit.png') }}">
        </button>
        <p><button id="list" onclick="location.href='/maple/char'">캐릭터 목록</button></p>
    </div>

{% endblock %}